= render 'top_bar'
.container
  .row
    .col.s12.m6
      .content
        - @members.each do |name, media|
          .card.grey.darken-2
            .card-content.white-text
              %span.card-title
                = name
              .card-action
                = link_to('Twitter', "https://twitter.com/#{media.fetch(:twitter)}") if media.has_key?(:twitter)
                = link_to('Github', "https://github.com/#{media.fetch(:github)}") if media.has_key?(:github)
