= render 'top_bar'

.content{'data-presenter' => true}
  = render 'frontend/slides/start'
  = render 'frontend/slides/device'
  = render 'frontend/slides/rom_upload'
  = render 'frontend/slides/options'
  = render 'frontend/slides/email'

= render 'footer'
