= form_for @build, url: update_device_build_url(@build) do |f|
  .row
    .col.s12.input-field
      %input#device-vendor{:type => "text"}
      %label{:for => "device-vendor"} Choose the vendor of your device

  .row
    .col.s12.input-field
      = f.text_field :device_id, id: 'device-model', disabled: true
      %label{:for => "device-model"} Choose the model of your device

  .row
    .col.s12
      = render 'frontend/back_button' do
        = image_tag 'back-arrow.svg', class: 'back-arrow'
        back

      = render 'frontend/next_button' do
        next