= form_for @build, url: update_gpg_build_path(@build) do |f|
  = f.select :gpg, Build.where(email: @build.email).map{ |b| [b.gpg, b.gpg_name] }
  = f.text_field :gpg_name
  = f.text_area :gpg
  = f.submit
