= render 'frontend/animated_slide' do
  = form_for @build, url: update_rom_file_build_path(@build) do |f|

    .disclaimerBox.z-depth-1
      %p= t('wizard.disclaimer.title')
      %p= t('wizard.disclaimer.rom-upload-content')

    .row
      .col.s12.file-field
        .btn.grey.darken-2
          %span
            = t('wizard.select-bios-file')
            &#9679;&#9679;&#9679;
          = f.hidden_field :id
          = f.file_field :blob_file
    .row
      .col.s12
        = f.submit t('wizard.next'), class: 'btn orange lighten-3 black-text'
