= render 'frontend/animated_slide' do
  = form_for @build, url: update_device_build_url(@build) do |f|
    .row
      .col.s12.input-field
        = select_tag(:device_vendor)

    .row
      .col.s12.input-field
        = select_tag(:device_model)
        = f.hidden_field :device_id
    .row
      .col.s12
        = link_to 'Back', root_path, class: 'btn orange lighten-3 black-text'
        = f.submit 'Next', class: 'btn orange lighten-3 black-text'

