= render 'frontend/animated_slide' do
  = form_for @build, url: update_device_build_url(@build) do |f|
    .row
      .col.s12.input-field
        %input#device-vendor{:type => "text"}
        %label{:for => "device-vendor"}= t('wizard.choose-vendor')

    .row
      .col.s12.input-field
        %input#device-model{:type => "text", disabled: true}
        %label{:for => "device-model"}= t('wizard.choose-device')
        = f.hidden_field :device_id
    .row
      .col.s12
        = link_to t('wizard.back'), root_path, class: 'btn orange lighten-3 black-text'
        = f.submit t('wizard.next'), class: 'btn orange lighten-3 black-text'
