= render 'frontend/animated_slide' do
  = form_for @build, url: update_gpg_build_path(@build) do |f|
    .row
      .col.s12.input-field
        = f.text_area :gpg, value: Build.where(email: @build.email).where.not(gpg: nil).last.try(:gpg), class: 'materialize-textarea'
        = f.label t('wizard.gpg-key')
        = f.submit t('wizard.build'), class: 'btn orange lighten-3 black-text'
