= render 'frontend/animated_slide' do
  = form_for :build, url: builds_path, method: :post do |f|
    = f.hidden_field :email, value: @email
    .row
      .col.s12.input-field
        = f.submit t('wizard.new-build'), class: 'btn orange lighten-3 black-text'
        %ul
          - @builds.each do |build|
            - if build.device.present? && build.device.vendor.present?
              %li= link_to "#{build.device.vendor.name} #{build.device.name} @ #{build.updated_at.to_formatted_s(:short)}", build_path(build)
            - else
              %li= link_to "#{build.uuid} @ #{build.updated_at}", build_path(build)
