= render 'frontend/animated_slide' do
  = form_for :build, url: builds_path, method: :post do |f|
    = f.hidden_field :email, value: @email
    .row
      .col.s12.input-field 
        = f.submit 'New build'
        %ul
          - @builds.each do |build|
            %li= link_to build.uuid, build_path(build)
