= render 'frontend/animated_slide' do
  = form_for :build, url: builds_path, method: :post do |f|
    = f.hidden_field :email, value: @email
    .row
      .col.s12.input-field
        = f.submit t('wizard.new-build'), class: 'btn orange lighten-3 black-text'
      .col.s12
        .collection
          - @builds.each do |build|
            - if build.device.present? && build.device.vendor.present?
              = link_to "#{build.device.vendor.name} #{build.device.name} @ #{l(build.updated_at)}", build_path(build), class: 'collection-item grey darken-4 white-text'
            - else
              = link_to "#{build.uuid} @ #{l(build.updated_at)}", build_path(build), class: 'collection-item grey darken-4 white-text'
