= render 'frontend/animated_slide' do
  = form_for :build, url: builds_path, method: :get do |f|
    .row
      .col.s12.input-field
        = f.email_field :email, id: 'user-email'
        %label{for: 'user-email'}= t('wizard.email-address')
    .row
      .col.s12
        = link_to t('wizard.back'), root_path, class: 'btn orange lighten-3 black-text'
        = f.submit t('wizard.next'), class: 'btn orange lighten-3 black-text'
