= render 'frontend/animated_slide' do
  .row
    .col.s12.input-field
      = form_for :build, url: builds_path do |f|
        = f.text_field :email
        = f.submit

    = link_to 'Start', new_build_path,  class: 'btn teal lighten-3 black-text'
