= render 'frontend/animated_slide' do
  %section.build_state{:'data-build-state' => @build.state, :'data-build-id' => @build.id}
  - if @build.pending?
    = t('wizard.show.preparing-build')
    .progress.orange.lighten-4
      .indeterminate.orange.darken-1
  - elsif @build.started?
    = t('wizard.show.building-image')
    .progress.orange.lighten-4
      .indeterminate.orange.darken-1
  - elsif @build.configured?
    = t('wizard.show.waiting-for-build-server')
    .progress.orange.lighten-4
      .indeterminate.orange.darken-1
  - elsif @build.succeeded?
    .card.green.lighten-1
      .card-content.black-text
        %span.card-title= t('wizard.show.build-succeeded')
        %p= t('wizard.show.build-succeeded-extra')
      .card-action
        %a{:href => "#"}= t('wizard.show.download')

  - elsif @build.failed?
    %p= t('wizard.show.build-failed')
    %p= t('wizard.show.build-failed-extra')
  - else
    %p= t('wizard.show.unconfigured')
    %p= "State: #{@build.state}"
