!!!
%html
  %head
    %title Coreboot Builder

    = stylesheet_link_tag 'frontend', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:400,500,700'
    = stylesheet_link_tag 'http://csshake.surge.sh/csshake.min.css'
    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css'

    = javascript_include_tag 'application'
    = javascript_include_tag 'frontend'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js'

    = favicon_link_tag
  %body
    = render 'frontend/top_bar'
    #content
      = yield
    = render 'frontend/footer'
