!!!
%html
  %head
    %title Coreboot Builder

    = stylesheet_link_tag 'frontend', media: 'all'
    = stylesheet_link_tag 'materialize-0.97.6.min.css'

    = javascript_include_tag 'application'
    = javascript_include_tag 'frontend'
    = javascript_include_tag 'materialize-0.97.6.min.js'

    = favicon_link_tag
  %body
    = render 'frontend/top_bar'
    #content
      .row
        .col.l8.s12.push-l2.push-s0
          = flash_messages
      = yield
    = render 'frontend/footer'
